<div class="container">
    <div class="contentSection">
      <div class="grid-row align-items-center no-gutters">
        <div class="grid-col-sm-12">
          <div class="fullContent">
            <div class="topContent">
              <div class="pull-right desktop"><img src="assets/images/user.png" class="" alt=""></div>
              <h1>שלום יותם, </h1>
              <p class="txtLarge">לצורך ביצוע חתימה על מסמכים נבקש את הסכמתך לסעיפים הבאים:</p>
            </div>
            <div class="bgGray">
              <form action="#">
                <div class="checkbox"><!---->
                  <label>
                    <mat-checkbox><strong>אני מאשר כי אין נהנה/ים בחשבון מלבדי, טקסט משפטי אני מאשר כי אין נהנה/ים בחשבון מלבדי, טקסט עם הנציג, אנא חתום כאן על המסמכים הבאים ממתינים לך</strong></mat-checkbox>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <mat-checkbox><strong>אני מאשר כי אין נהנה/ים בחשבון מלבדי, טקסט משפטי אני מאשר כי אין נהנה/ים בחשבון</strong></mat-checkbox>
                  </label>
                </div>
                <div class="checkbox desktop">
                  <label>
                      <mat-checkbox><strong> אני מאשר כי אין נהנה/ים בחשבון מלבדי, טקסט משפטי אני מאשר כי אין נהנה/ים בחשבון מלבדי, טקסט משפטי אני מאשר כי אין נהנה/ים טקסט דמי בחשבון מלבדי.</strong> </mat-checkbox>
                  </label>
                </div>
                <p class="text-center">
                  <button type="submit" class="waves-effect waves-light btn-large"><i class="material-icons">המשך</i></button>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>